# Meu teste no Jupter 

Este é um teste e estou achando show de bola! 

literalmente uma infinidade de utilidades.. 

## Podemos então aqui definir o tamanho das fontes

- top1
- top2
- top3

### E se eu colocar duas como fica? 

uhull..

In [13]:
print('Ola Mundo')

Ola Mundo

In [14]:
x = 5

In [15]:
y = 8

In [16]:
x + y

13

In [19]:
import pandas as pd

df = pd.DataFrame({"A": [1,2,3], "B": [6,7,8]})
df

   A  B
0  1  6
1  2  7
2  3  8